<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.theymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>入职欢迎邮件</title>
</head>
<body>
    欢迎 <span th:text="${name}"></span>加入XXX大家庭，您的入职信息如下:
<table border="1">
    <tr>
        <td>姓名:</td>
        <td th:text="${name}"></td>
    </tr>
    <tr>
        <td>职位:</td>
        <td th:text="${posName}"></td>
    </tr>
    <tr>
        <td>职称:</td>
        <td th:text="${joblevelName}"></td>
    </tr>
    <tr>
        <td>部门:</td>
        <td th:text="${departmentName}"></td>
    </tr>
    <p>
        我们公司的工作宗旨是严格，创新，诚信，您的加入将为我们带来新鲜的血液，带来创新的思维...
    </p>
</table>
</body>
</html>